<!doctype html>
<html>
 <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  
  <title>welcome to {{title }} </title>
  </head>
  <body>
  <h1>{{title}} </h1>
  <a href="agregarproducto" class="btn btn-primary">Nuevo producto </a>
  <ul>
  {% for product in products %}
  <li>
  <a href= "detalleproducto/{{product.idproducto}}">{{ product.nombre_producto }} </a>
  <a href="eliminarproducto/{{ product.idproducto }}" class="btn btn-danger">Eliminar</a>
  <a href="modificarproducto/{{ product.idproducto }}" class="btn btn-warning">Modificar</a> 
  </li>
 
  {% endfor %}
  </ul>
  <p> 2019 </p>
  </body>
 </html>
  